  
<br>
  <div class="card-header" style="background: #263238; width: 94%; margin: auto;">
      <h4 class="text-center" style="color: white">Departments</h4>
  </div>
<br>

<div fxLayout='row' fxLayoutAlign='space-around center' fxLayoutGap="24px" class='mx-40 mt-40 '>

    <div class='w-100-p'>
        <mat-form-field  appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matPrefix class='mr-16'>search</mat-icon>
        </mat-form-field>
    </div>
    <div class='pb-16'>
      <button mat-raised-button (click)="redirectsToAddDepartment()" style="color: white; background-color: rgb(19, 115, 144);" class='h-60 w-224'>
        Create Department
      </button>
    </div>
</div>

  
  <div fxLayout="column" class="mx-40 mb-40 mat-elevation-z8">
    <mat-table #table [dataSource]="departments" matSort matSortActive="serial_no" matSortDirection="asc" [class.isMobile]="isMobile">
  
        <ng-container matColumnDef="serial_no">
            <mat-header-cell *matHeaderCellDef mat-sort-header
                class="primary-background white-color-foreground font-size-16"> SI No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.serial_no}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header
                class="primary-background white-color-foreground font-size-16"> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="update">
          <mat-header-cell *matHeaderCellDef
              class="primary-background white-color-foreground font-size-16"> Update Department </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="btn btn-success btn-sm mr-1">
                Update
            </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  