<div class="card m-3 shadow-sm">
    <div class="card-header" style="background: #263238">
        <h4 class="text-center" style="color: white">Manage Salary Details</h4>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="form-group m-3">
                <label for="select_department">Department</label>
                <select class="form-control form-control-sm" id="select_department" (change)="getDesignations()">
                    <option>Select Department</option>
                    <option *ngFor="let department of departments" value={{department.id}}>{{department.department_name}}</option>
                </select>
            </div>
            <div class="form-group m-3">
                <label for="select_designation">Designation</label>
                <select class="form-control form-control-sm" id="select_designation" (change)="getEmployees()">
                    <option>Select Designation</option>
                    <option *ngFor="let designation of designations" value={{designation.id}}>{{designation.designation}}</option>
                </select>
            </div>
            <div class="form-group m-3">
                <label for="select_employee">Employee</label>
                <select class="form-control form-control-sm" id="select_employee" (change)="getSalaryInfo()">
                    <option>Select Employee</option>
                    <option *ngFor="let employee of employees" value={{employee.id}}>{{employee.full_name}}</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-center" (click)="showSalary()">
            <button class="btn btn-success btn-sm">Search</button>
        </div>
    </div>
</div>


<div class="card-columns" style="width: 98%;">
    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #263238">
            <h4 class="text-center" style="color: white">Basic</h4>
        </div>

        <div class="card-body">

            <div class="form-group">
                <label>Basic Salary</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="basic" required name="basic">
            </div>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #263238">
            <h4 class="text-center" style="color: white">Deductions</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>Provident Fund</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="provident_fund" required name="provident_fund">
            </div>

            <div class="form-group">
                <label>Tax Deduction</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="tax_deduction" required name="tax_deduction">
            </div>

            <div class="form-group">
                <label>Other Deduction</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="other_deduction" required name="other_deduction">
            </div>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #263238">
            <h4 class="text-center" style="color: white">Allowances</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>House Rent Allowance</label>
                <input type="email" class="form-control form-control-sm rounded-1" id="house_rent_allowance" required name="house_rent_allowance">
            </div>

            <div class="form-group">
                <label>Medical Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="medical_allowance" required name="medical_allowance">
            </div>

            <div class="form-group">
                <label>Special Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="special_allowance" required name="special_allowance">
            </div>

            <div class="form-group">
                <label>Phone Bill Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="phone_bill_allowance" required name="phone_bill_allowance">
            </div>

            <div class="form-group">
                <label>Fuel Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="fuel_allowance" required name="fuel_allowance">
            </div>

            <div class="form-group">
                <label>Other Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="other_allowance" required name="other_allowance">
            </div>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #263238">
            <h4 class="text-center" style="color: white">Total Salary Detail</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>Gross Salary</label>
                <input type="text" readonly="true" class="form-control form-control-sm rounded-1" id="gross_salary" required name="gross_salary">
            </div>

            <div class="form-group">
                <label>Total Deduction</label>
                <input type="text" readonly="true" class="form-control form-control-sm rounded-1" id="total_deduction" required name="total_deduction">
            </div>

            <div class="form-group">
                <label>Net Salary</label>
                <input type="text" readonly="true" class="form-control form-control-sm rounded-1" id="net_salary" required name="net_salary">
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success btn-md btn-block m-3" id="save_salary_btn" (click)="updateSalary()">Update</button>
</div>