<form [formGroup]="salaryForm" #credentials="ngForm" (ngSubmit)="checkOverAllBeforeLogin(credentials.value)">

  <div class="card m-3 shadow-sm">
    <div class="card-header" style="background: #263238">
        <h4 class="text-center" style="color: white">Manage Salary Details</h4>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="form-group m-3">
                <label for="select_department">Department</label>
                <select class="form-control form-control-sm" id="select_department" (change)="getDesignations()">
                    <!-- <option>Select Department</option> -->
                    <option *ngFor="let department of departments" value={{department.id}}>{{department.department_name}}</option>
                </select>
            </div>
            <div class="form-group m-3">
                <label for="select_designation">Designation</label>
                <select class="form-control form-control-sm" id="select_designation" (change)="getEmployees()">
                    <option *ngIf="initialChange">Select Designation</option>
                    <option *ngFor="let designation of designations" value={{designation.id}}>{{designation.designation}}</option>
                </select>
            </div>
            <div class="form-group m-3">
                <label for="select_employee">Employee</label>
                <select class="form-control form-control-sm" id="select_employee" (change)="getSalaryInfo()">
                    <option *ngIf="initialChange">Select Employee</option>
                    <option *ngFor="let employee of employees" value={{employee.id}}>{{employee.full_name}}</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-center" (click)="showSalary()">
            <button class="btn btn-success btn-sm">Show Salary</button>
        </div>
    </div>
  </div>

  <!-- Controls are below -->

  <div class="card-columns" style="width: 98%;">
      <div class="card m-3 shadow-sm">
          <div class="card-header" style="background: #263238">
              <h4 class="text-center" style="color: white">Basic</h4>
          </div>

          <div class="card-body">

              <div class="form-group">
                  <label><span style="color: red;">*</span>Basic Salary</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="basic_salary" name="basic_salary" formControlName="basic_salary">
                  <div *ngIf="basic_salary.touched && basic_salary.invalid">
                    <div *ngIf="basic_salary.errors.required"> <mat-error>Basic Salary is required</mat-error> </div>
                    <div *ngIf="basic_salary.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
                </div>
          </div>
      </div>

      <div class="card m-3 shadow-sm">
          <div class="card-header" style="background: #263238">
              <h4 class="text-center" style="color: white">Deductions</h4>
          </div>

          <div class="card-body">
              <div class="form-group">
                  <label>Provident Fund Deduction</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="provident_fund" disabled name="provident_fund">
              </div>

              <div class="form-group">
                  <label>Tax Deduction</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="tax_deduction" name="tax_deduction" formControlName="tax_deduction">
                  <div *ngIf="tax_deduction.touched && tax_deduction.invalid">
                    <div *ngIf="tax_deduction.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
                </div>

              <div class="form-group">
                  <label>Other Deduction</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="other_deduction" name="other_deduction" formControlName="other_deduction">
                  <div *ngIf="other_deduction.touched && other_deduction.invalid">
                    <div *ngIf="other_deduction.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
                </div>
          </div>
      </div>

      <div class="card m-3 shadow-sm">
          <div class="card-header" style="background: #263238">
              <h4 class="text-center" style="color: white">Allowances</h4>
          </div>

          <div class="card-body">
              <div class="form-group">
                  <label>House Rent Allowance</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="house_rent_allowance" name="house_rent_allowance" formControlName="house_rent_allowance">
                  <div *ngIf="house_rent_allowance.touched && house_rent_allowance.invalid">
                    <div *ngIf="house_rent_allowance.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Medical Allowance</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="medical_allowance" name="medical_allowance" formControlName="medical_allowance">
                  <div *ngIf="medical_allowance.touched && medical_allowance.invalid">
                    <div *ngIf="medical_allowance.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Special Allowance</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="special_allowance" name="special_allowance" formControlName="special_allowance">
                  <div *ngIf="special_allowance.touched && special_allowance.invalid">
                    <div *ngIf="special_allowance.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Phone Bill Allowance</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="phone_bill_allowance" name="phone_bill_allowance" formControlName="phone_bill_allowance">
                  <div *ngIf="phone_bill_allowance.touched && phone_bill_allowance.invalid">
                    <div *ngIf="phone_bill_allowance.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Fuel Allowance</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="fuel_allowance" name="fuel_allowance" formControlName="fuel_allowance">
                  <div *ngIf="fuel_allowance.touched && fuel_allowance.invalid">
                    <div *ngIf="fuel_allowance.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Other Allowance</label>
                  <input type="text" class="form-control form-control-sm rounded-1" id="other_allowance" name="other_allowance" formControlName="other_allowance">
                  <div *ngIf="other_allowance.touched && other_allowance.invalid">
                    <div *ngIf="other_allowance.errors.containsDecimalNumber"> <mat-error>Field contains only decimal number.</mat-error> </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="card m-3 shadow-sm">
          <div class="card-header" style="background: #263238">
              <h4 class="text-center" style="color: white">Total Salary Detail</h4>
          </div>

          <div class="card-body">
              <div class="form-group">
                  <label>Gross Salary</label>
                  <input type="text" readonly="true" class="form-control form-control-sm rounded-1" id="gross_salary" name="gross_salary" formControlName="gross_salary">
              </div>

              <div class="form-group">
                  <label>Total Deduction</label>
                  <input type="text" readonly="true" class="form-control form-control-sm rounded-1" id="total_deduction" name="total_deduction" formControlName="total_deduction">
              </div>

              <div class="form-group">
                  <label>Net Salary</label>
                  <input type="text" readonly="true" class="form-control form-control-sm rounded-1" id="net_salary" name="net_salary" formControlName="net_salary">
              </div>
          </div>
      </div>

      <div *ngIf="formErrorMessage">
        <h6 style="color: red; text-align: center;"> {{formErrorMessage}} </h6>
      </div>
      <button type="submit" class="btn btn-success btn-md btn-block m-3" id="save_salary_btn" (click)="updateSalary()">{{ actionLabel }}</button>
      <button type="submit" class="btn btn-dark btn-md btn-block m-3" id="go_back_btn" (click)="goBack()">Go Back</button>
  </div>

</form>
