<!-- 
<div class="p-40">
    <mat-card class="mat-elevation-z8">
      <div [ngClass.xs]="{ 'p-8': true }" [ngClass.sm]="{ 'p-8': true }" ngClass="px-164 py-64">
        <div [ngClass.sm]="{ 'pl-8 font-size-24 font-weight-950': true }" ngClass="font-size-24 font-weight-950 pl-60">
          Header
        </div>
  
        <div fxLayout="row" fxLayoutAlign="space-between center" class="py-48">
          <div fxLayout="column" fxLayoutAlign="center start" [ngClass.xs]="{ 'pl-8 ': true }" [ngClass.sm]="{ 'pl-8 ': true }" ngClass="pl-60" fxLayoutGap="12px">
            <div>Company</div>
            <div>Department</div>
            <div>Designation</div>
            <div>Email</div>
            <div>Phone</div>
            <div>Joining Date</div>
            <div>Net Salary</div>
            <div>Actual Provident Fund</div>
            <div>On Loan</div>
            <div>Available Provident Fund</div>
            <div>Address</div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center start" [ngClass.xs]="{ 'pl-8 ': true }" [ngClass.sm]="{ 'pl-8 ': true }" ngClass="pl-60" fxLayoutGap="12px">
              <div>{{user?.company_name}}</div>
              <div>{{user?.department_name}}</div>
              <div>{{user?.designation}}</div>
              <div>{{user?.email}}</div>
              <div>{{user?.phone}}</div>
              <div>{{user?.joining_date}}</div>
              <div>{{user?.net_salary}}</div>
              <div>{{user?.provident_fund}}</div>
              <div>{{user?.on_loan}}</div>
              <div>{{user?.available_pf}}</div>
              <div>{{user?.present_address}}</div>
          </div>
        </div>
                                                          
        <div fxLayout="row" fxLayoutAlign="space-around center" class="py-48">
          <button  mat-raised-button color="primary" style="color: rgb(225, 236, 225);" class="w-224 h-40">
            Update Personal Information
          </button>
        </div>
  
      </div>
    </mat-card>
  </div>
   -->
   works!!