<!-- <div style="text-align: center;" *ngIf="leaveApplicationForm.errors">
  <mat-error>
    <b> Please fill out all the required fields. </b>
  </mat-error>
</div> -->

<form *ngIf="isDefaultView" [formGroup]="leaveApplicationForm" #credentials="ngForm" (ngSubmit)="checkOverAllBeforeLogin(credentials.value)">

  <div class="card m-3">
    <div class="card-header" style="background: #263238">
        <h4 class="text-center" style="color: white">Application for Leave</h4>
    </div> <br>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card-body">
                <div class="form-group">
                    <label for="leaveCategoryId">Leave Category</label>
                    <select class="form-control form-control-sm" id="leaveCategoryId" name="leaveCategoryId" formControlName="leaveCategoryId">
                          <option value='-1'>Select Category</option>
                          <option *ngFor="let category of leaveCategories" value={{category.id}}>{{category.leave_type}}</option>
                    </select>
                    <div *ngIf="leaveCategoryId.touched && leaveCategoryId.invalid">
                      <div *ngIf="leaveCategoryId.errors.required"> <mat-error> Leave Category is required </mat-error> </div>
                    </div>
                </div>

                <label for="startDate">Start Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="startDate" id="startDate" formControlName="startDate" ngbDatepicker #sd="ngbDatepicker">
                        <div *ngIf="startDate.touched && startDate.invalid">
                          <div *ngIf="startDate.errors.required"> <mat-error> Start Date is required </mat-error> </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="sd.toggle()"></button>
                        </div>
                    </div>
                </div>

                <label for="endDate">End Date</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="endDate" id="endDate" formControlName="endDate" ngbDatepicker #ed="ngbDatepicker">
                        <div *ngIf="endDate.touched && endDate.invalid">
                          <div *ngIf="endDate.errors.required"> <mat-error> End Date is required </mat-error> </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="ed.toggle()"></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="! validateTwoDates()"> <mat-error> {{errMessage}} </mat-error> </div>

                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control form-control-sm rounded-1" style="resize:none" rows="5" id="description" name="description" formControlName="description"></textarea>
                  <div *ngIf="description.touched && description.invalid">
                    <div *ngIf="description.errors.required"> <mat-error> Description is required </mat-error> </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-md" id="submit" (click)="applyForLeave()">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
  </div>
</form>

<!-- Make a table -->


