<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div *ngIf="!isLoading" class="card mt-5">
                        <div class="card-header">
                            <h4 class="text-center">{{header}}</h4>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="user_name">Email</label>
                                <input type="text" [disabled]="choosenView == 4" class="form-control form-control-md rounded-1"
                                      id="email" required name="email" [value]="readOnlyMail">
                            </div>

                            <div *ngIf="choosenView == 1" class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control form-control-md rounded-1" id="password" required name="password">
                            </div>

                            <div *ngIf="choosenView == 3" class="form-group">
                              <label> Verification Code </label>
                              <input type="text" class="form-control form-control-md rounded-1" id="code" required name="code">
                            </div>

                            <div *ngIf="choosenView == 4" class="form-group">
                              <label>New Password</label>
                              <input type="password" class="form-control form-control-md rounded-1" id="new_password" required name="new_password">
                            </div>

                            <div *ngIf="choosenView == 4" class="form-group">
                              <label>Confirm Password</label>
                              <input type="password" class="form-control form-control-md rounded-1" id="confirm_password" required name="confirm_password">
                            </div>

                            <button *ngIf="choosenView == 1" type="button" class="btn btn-success btn-md btn-block mt-3" id="btnLogin" (click)="login()">{{buttonActivity}}</button>
                            <button *ngIf="choosenView == 2" type="button" class="btn btn-success btn-md btn-block mt-3" id="btnLogin" (click)="sendOTP()">{{buttonActivity}}</button>
                            <button *ngIf="choosenView == 3" type="button" class="btn btn-success btn-md btn-block mt-3" id="btnLogin" (click)="verifyOTP()">{{buttonActivity}}</button>
                            <button *ngIf="choosenView == 4" type="button" class="btn btn-success btn-md btn-block mt-3" id="btnLogin" (click)="setNewPassword()">{{buttonActivity}}</button>
                        </div>
                        <div *ngIf="choosenView == 1" style="text-align: right; padding-right: 20px; padding-bottom: 15px; color: blue;">
                          <a href="javascript:void(0);" (click)="forgotPassword()">forgot password?</a>
                        </div>
                    </div>
                    <div *ngIf="isLoading" class="card mt-5">
                      <!-- <mat-progress-spinner mode="indeterminate"></mat-progress-spinner> -->
                      <!-- place here a progress bar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
