<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav bg-dark" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" style="color: white">
        <mat-toolbar style="color:white;">Menu</mat-toolbar>
        <mat-nav-list style="cursor: pointer">
            <a mat-list-item (click)="viewChanger('dashboard')">Dashboard</a>

            <a style="color: white" mat-list-item data-toggle="collapse" href="#departmentMenu">Departments</a>
            <div class="collapse multi-collapse ml-4" id="departmentMenu">
                <a (click)="viewChanger('departments')">Department List</a><br>
                <a (click)="viewChanger('add department')">Add Department</a>
            </div>

            <a style="color: white" mat-list-item data-toggle="collapse" href="#employeesMenu">Employees</a>
            <div class="collapse multi-collapse ml-4" id="employeesMenu">
                <a (click)="viewChanger('employee list')">Employee List</a><br>
                <a (click)="viewChanger('add employee')">Add Employee</a>
            </div>

            <a style="color: white" mat-list-item data-toggle="collapse" href="#attendanceMenu">Attendance</a>
            <div class="collapse multi-collapse ml-4" id="attendanceMenu">
                <a (click)="viewChanger('today')">Today's Attendace</a><br>
                <a (click)="viewChanger('report')">Attendace Report</a>
            </div>


            <a style="color: white" mat-list-item data-toggle="collapse" href="#leaveMenu">Leave</a>
            <div class="collapse multi-collapse ml-4" id="leaveMenu">
                <a (click)="viewChanger('leave')">Leave Application</a><br>
                <a (click)="viewChanger('leave management')">Leave Management</a>
            </div>

            <a style="color: white" mat-list-item data-toggle="collapse" href="#payrollMenu">Payroll Management</a>
            <div class="collapse multi-collapse ml-4" id="payrollMenu">
                <a (click)="viewChanger('salary management')">Manage Salary Detail</a><br>
                <a (click)="viewChanger('employee salary list')">Employee Salary List</a><br>
                <a (click)="viewChanger('payroll')">Generate Payroll</a>
            </div>

            <a style="color: white" mat-list-item data-toggle="collapse" href="#settings">Settings</a>
            <div class="collapse multi-collapse ml-4" id="settings">
                <a (click)="viewChanger('general settings')">General Settings</a><br>
                <a (click)="viewChanger('holidays')">Holidays</a>
            </div>

            <hr style="background-color: white">
            <hr style="background-color: white">
            <a style="color: white" mat-list-item (click)="logout()" style="color: white">Logout</a>
            <hr style="background-color: white">
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color: #B71C1C">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span style="color: white">HRMS</span>
        </mat-toolbar>
        <div *ngIf="chosenView=='dashboard'">
            <app-dashboard></app-dashboard>
        </div>
        <div *ngIf="chosenView=='departments'">
            <app-departments></app-departments>
        </div>
        <div *ngIf="chosenView=='add department'">
            <app-add-department></app-add-department>
        </div>
        <div *ngIf="chosenView=='employee list'">
            <app-employees></app-employees>
        </div>
        <div *ngIf="chosenView=='add employee'">
            <app-add-employee></app-add-employee>
        </div>
        <div *ngIf="chosenView=='today'">
            <app-todays-attendance></app-todays-attendance>
        </div>
        <div *ngIf="chosenView=='report'">
            <app-attendance-report></app-attendance-report>
        </div>
        <div *ngIf="chosenView=='leave'">
            <app-leave></app-leave>
        </div>
        <div *ngIf="chosenView=='leave management'">
            <app-leave-management></app-leave-management>
        </div>
        <div *ngIf="chosenView=='salary management'">
            <app-salary-management></app-salary-management>
        </div>
        <div *ngIf="chosenView=='employee salary list'">
            <app-salary></app-salary>
        </div>
        <div *ngIf="chosenView=='payroll'">
            <app-generate-payroll></app-generate-payroll>
        </div>
        <div *ngIf="chosenView=='general settings'">
            <app-general-settings></app-general-settings>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>