<br> <div class="card-header" style="background: #263238; width: 94%; margin: auto;">
    <h4 class="text-center" style="color: white">Your Loan Transactions</h4>
</div> <br>

<div fxLayout='row' fxLayoutAlign='space-around center' fxLayoutGap="24px" class='mx-40 mt-40 '>
  <div class='w-100-p'>
      <mat-form-field  appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matPrefix class='mr-16'>search</mat-icon>
      </mat-form-field>
  </div>
  <!-- <div class='pb-16'>
    <button mat-raised-button color="warn" [disabled]="payLoanDisabled" class='h-60 w-224' (click)="redirectsToLoanPay()">
        {{payLoanLabel}}
    </button>
  </div> -->
  <div class='pb-16'>
    <button mat-raised-button color="warn" [disabled]="!isActive" class='h-60 w-224' (click)="redirectsToLoanApply()">
        Request For Loan
    </button>
  </div>
</div>


<div fxLayout="column" class="mx-40 mb-40 mat-elevation-z8">
  <mat-table #table [dataSource]="loanHistories" matSort matSortActive="serial_no" matSortDirection="asc" [class.isMobile]="isMobile">

      <ng-container matColumnDef="serial_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> SI No </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.serial_no}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> Year </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="month">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> Month </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.month}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="month_count">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> #Month </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.month_count}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actual_loan_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Loan Taken </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.actual_loan_amount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contract_duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Contract Duration </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.contract_duration}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="current_loan_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Loan To Pay </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.current_loan_amount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paid_this_month">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Paid This Month </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paid_this_month}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total_paid_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Paid So Far </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.total_paid_amount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loan_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Loan Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.loan_status}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
