<br> <div class="card-header" style="background: #263238; width: 94%; margin: auto;">
  <h4 class="text-center" style="color: white">Loan Requests And Pay Back</h4>
</div> <br>

<div fxLayout='row' fxLayoutAlign='space-around center' fxLayoutGap="24px" class='mx-40 mt-40 '>
  <div class='w-100-p'>
      <mat-form-field  appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matPrefix class='mr-16'>search</mat-icon>
      </mat-form-field>
  </div>
  <div [matMenuTriggerFor]="menu" fxLayout="row" fxLayoutAlign="center center"
            class="mr-64">
    <!-- <img [src]=base64String style="border-radius: 50%;" height="50" width="50"> -->
    <div class='pb-16'>
      <button mat-raised-button style="background: #296d8f; color: white;" class='h-60 w-224'> Show Options
        <i class="material-icons">
          keyboard_arrow_down
        </i>
      </button>
    </div>
      <mat-menu #menu="matMenu" class="w-180 mt-16">
        <button mat-menu-item>
          <div (click)="showLoanRequests()">Loan Requests</div>
        </button>
        <button mat-menu-item>
          <div (click)="showPayBack()">Loan Pay Back</div>
        </button>
     </mat-menu>
  </div>
</div>

<div *ngIf="defaultView" fxLayout="column" class="mx-40 mb-40 mat-elevation-z8">
  <mat-table #table [dataSource]="loanRequests" matSort matSortActive="serial_no" matSortDirection="asc" [class.isMobile]="isMobile">

      <ng-container matColumnDef="serial_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> SI No </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.serial_no}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> Department </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="designation">
          <mat-header-cell *matHeaderCellDef mat-sort-header
              class="primary-background white-color-foreground font-size-16"> Designation </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="application_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Appy In </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.application_date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="provident_fund">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> PF Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.provident_fund}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="requested_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            class="primary-background white-color-foreground font-size-16"> Requested Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.requested_amount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="approve">
          <mat-header-cell *matHeaderCellDef
              class="primary-background white-color-foreground font-size-16"> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="btn btn-success btn-sm mr-1" (click)="respondeToRequest(element.serial_no)">
              Response
            </button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
