
<div style="width: 600px; height: 520px;">
    <form [formGroup]="passwordUpdateForm" #credentials="ngForm">
      <div>
          <div class="card m-3">
              <div class="card-header" style="background: #263238">
                  <h4 class="text-center" style="color: white">{{data?.message}}</h4>
              </div> <br>
  
              <div class="row">
                  <div class="col-4"></div>
                  <div class="col-5">
                      <div class="card-body">
                        <div *ngIf="formErrMessage"> <h6 style="color: red; text-align: center;"> {{formErrMessage}} </h6> <br> </div>
                        <div class="form-group">
                            *Current Password:
                            <input type="password" class="form-control form-control-sm rounded-1" id="current_password" name="current_password" formControlName="current_password">
                            <div *ngIf="current_password.touched && current_password.invalid">
                                <div *ngIf="current_password.errors.required"> <mat-error>Current Password is required</mat-error> </div>
                            </div>
                        </div>

                        <div class="form-group">
                            *New Password:
                            <input type="password" class="form-control form-control-sm rounded-1" id="new_password" name="new_password" formControlName="new_password">
                            <div *ngIf="new_password.touched && new_password.invalid">
                                <div *ngIf="new_password.errors.required"> <mat-error>New Password is required</mat-error> </div>
                                <div *ngIf="new_password.errors.minlength"> <mat-error>New Password should be minimum {{ new_password.errors.minlength.requiredLength }} characters</mat-error> </div>
                                <div *ngIf="new_password.errors.maxlength"> <mat-error>New Password should be maximum {{ new_password.errors.maxlength.requiredLength }} characters</mat-error> </div>
                            </div>
                        </div>

                        <div class="form-group">
                            *Confirm Password:
                            <input type="password" class="form-control form-control-sm rounded-1" id="confirm_password" name="confirm_password" formControlName="confirm_password">
                            <div *ngIf="confirm_password.touched && confirm_password.invalid">
                                <div *ngIf="confirm_password.errors.required"> <mat-error>Confirm Password is required</mat-error> </div>
                                <div *ngIf="confirm_password.errors.minlength"> <mat-error>Confirm Password should be minimum {{ confirm_password.errors.minlength.requiredLength }} characters</mat-error> </div>
                                <div *ngIf="confirm_password.errors.maxlength"> <mat-error>Confirm Password should be maximum {{ confirm_password.errors.maxlength.requiredLength }} characters</mat-error> </div>
                            </div>
                        </div>

                        <div *ngIf="!validatePasswordMatching()">
                            <h6 style="color: red; text-align: center;"> New password And confirm password must be matched </h6> <br>
                        </div>
  
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="py-48">
                            <button type="submit" mat-raised-button (click)="returnData('update')" color="primary" cdkFocusInitial> Update </button>
                            <button type="submit" mat-raised-button (click)="returnData('cancel')" color="warn"> Cancel </button>
                        </div>
                      </div>
                  </div>
                  <div class="col-3"></div>
              </div>
            </div>
      </div>
    </form>
  </div>

  
  
  